.head-contents button {
    margin: 2vw 1vw 0vw 0vw;
    animation: HeadernNavAnimate 1s ease-in-out;
}

@keyframes HeadernNavAnimate {
    0%   {color: transparent; margin: 2vw -1vw 0vw -4vw;}
    100% {margin: 2vw 1vw 0vw 0vw;}
}
.cup {
    animation: CupAnimate 1.5s ease-in-out;
}
@keyframes CupAnimate {
    0% {filter: blur(5px);
        margin: -20vw 0% 0% 47%;}
    50% {filter: blur(2px);}
        100% {margin: 11% 0% 0% 37%;}
}
.title {
    animation: TitleAnimate 1.5s ease-in-out;
}
.title h2,p,span{
    animation: TitleAnimate 2s ease-in-out;
}
@keyframes TitleAnimate {
    from {
        color: transparent;
        left: 15vw;}
    to {left: 3.5;}
}
.beans:nth-child(1) {
    animation: beans1 1.3s ease-in-out;
}
.beans:nth-child(2) {
    animation: BeansAnimate 1s ease-in-out;
}
.beans:nth-child(3) {
    animation: beans3 1.3s ease-in-out;
}
.beans:nth-child(4) {
    animation: beans4 1.6s ease-in-out;
}
@keyframes BeansAnimate {
    from {transform: translate(50%,50%);}
}
@keyframes beans1 {
    from {transform: translateX(-100%);}
}
@keyframes beans3 {
    from{transform: translate(-60%,140%); width: 5vw;}
}
@keyframes beans4 {
    from {transform: translate(300%,-600%); filter: blur(5px);}
}
.textleft {
    animation: animationTextLeft 1.5s ease-in-out ;
}
@keyframes animationTextLeft {
    from {
        opacity: 0.1;
         transform: translateX(-50%);}
    to {opacity: 1;}
}
.btn button {
    animation: btn ease-in-out 1.5s;
}
@keyframes btn {
    from {opacity: 0.1;}
}